/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \***************************************************************************************************************/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 60rem;
  padding: 0 3.75rem;
  margin: auto;
}

.form {
  max-width: 30rem;
}

.table {
  max-width: 30rem;
  height: auto;
}

.calc-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  display: block;
  margin: 1rem auto;
}

.new-item {
  color: blue !important;
}
